<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Juice2Go</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <link href="/images/styles/normalize.css" rel="stylesheet" type="text/css">
  <link href="/images/styles/skeleton.css" rel="stylesheet" type="text/css">
  <link href="styles/main.css" rel="stylesheet" type="text/css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="#">

</head>

<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="container">
    <div class="row">
      <h1 class="mainTitle"></h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h1>Juice2Go</h1>
        <br />
        <img src="/Users/jamesinglis/workspace/juice2go/public/images/juices-layers-merged.png" />

      </div>
      <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->