<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
   <h1>New Orders</h1>
   <form action="#">
    <br>
    <input type = "text" name = "firstname" placeholder= "name">
    <br><br>
    <input type = "text" name = "firstname" placeholder= "address">
    <br><br>
    <input type = "text" name = "firstname" placeholder= "email">
    <br>
    <br>
    <hr>
    <br>
    <p>
    <select>
      <option value="Dark & Stormy">Dark & Stormy</option>
      <option value="Virgin on the Beach">Virgin on the Beach</option>
      <option value="Ginger Unicorn">Ginger Unicorn</option>
      <option value="Beet the Dragon">Beet the Dragon</option>
    </select>
    <input type = "text" name = "firstname" placeholder= "quantity">
    <select>
      <option value="Small">Small</option>
      <option value="Medium">Medium</option>
      <option value="Large">Large</option>
    </select>
    </p>
    <br>
    <h4>Delivery<br><input type = "checkbox" name = "firstname" placeholder= "delivery"></h4>
    <br>
    <input type = "submit" value = "Submit">
  <form>
</body>
</html>