<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
   <h1>New Orders</h1>
   <form action="#">
    <br>
    <input type = "text" name = "firstname" placeholder= "name">
    <br>
    <br>
    <input type = "text" name = "firstorder" placeholder = "juice name">
    <br><br>
    <input type = "submit" value = "Submit">
  <form>
</body>
</html>